body {
  background-color: black;
  font-family: verdana;
  text-align: center;
}

.top {
  font-weight: bold;
  font-size: 50px;
  color: white;
}

.middle {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.bottom {
  font-size: 21px;
  color: gray;
  text-decoration: none;
}

	p {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
